* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
}

header {
  #social-icons {
    background-color: #fbfbfb;

    .container {
      height: 40px;
      .row {
        height: 100%;
        align-items: center;
        .contact {
          a {
            color: #6f6f6f;
            padding: 0 8px;
            i {
              color: #5cb874;
              padding: 0 5px;
            }
          }
        }
        .social-icons {
          display: flex;
          justify-content: end;
          ul {
            display: flex;
            margin: 0;
            a {
              color: #6f6f6f;
              padding: 0 10px;
              &:hover{
                color: #3fbb60;
              }
            }
          }
        }
      }
    }
  }
  #nav {
    .container {
      height: 80px;
      .row {
        display: flex;
        align-items: center;
        height: 100%;
        .logo {
          h2 {
            font-weight: bold;
            a {
              color: #5cb874;
            }
          }
        }
        .nav-hamburger{
            display: none;
        }
        .nav-links {
          ul {
            display: flex;
            justify-content: end;
            margin: 0;
            li {
              a {
                color: black;
                padding: 0 10px;
              }
              button {
                margin: 0 10px;
              }
            }
          }
        }
      }
    }
  }
}
main {
  #slider {
    #carouselExampleIndicators {
      button {
        z-index: 15;
      }
      .carousel-indicators {
        button {
          border-radius: 50%;
          width: 0;
          height: 0;
          padding: 6px;
          z-index: 15;
          opacity: 1;
          &:hover {
            opacity: 1;
            z-index: 16;
          }
        }
      }
      .carousel-inner {
        height: 500px !important;
        position: relative;
        .bg-color {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #5cb874;
          z-index: 9;
          opacity: 0.7;
        }
        .carousel-item {
          .title {
            color: #fff;
            top: 25%;
            position: absolute;
            text-align: center;
            width: 100%;
            z-index: 9;
            button {
              background-color: #5cb874;
              border: none;
              padding: 10px 32px;
              opacity: 1;
            }
          }
        }
      }
    }
  }
  #info {
    background-color: #f8fcf9;
    height: 250px;
    .container {
      height: 100%;
      .row {
        justify-content: space-between;
        height: 100%;
        align-items: center;
        .item {
          i {
            font-size: 35px;
            color: #5cb874;
            padding-bottom: 15px;
          }
          a {
            color: black;
            &:hover {
              color: #5cb874;
            }
          }
        }
      }
    }
  }
  #about {
    .container {
      .row {
        .about-us {
          .image {
            width: 50%;
            img {
              width: 100%;
            }
          }
          .desc {
            ul {
              padding: 0;
              margin-bottom: 35px;
              li {
                margin: 10px 0;
              }
            }
          }
        }
      }
    }
  }
  #service {
    .container {
      .Service-cards {
        .card-item {
          box-shadow: 1px 2px 20px 3px #d9d6d6;
          height: 300px;
          width: 30%;
          margin: 19px;
          .icon-box {
            text-align: center;
            padding: 50px 0;
            h4 {
              a {
                color: black;
              }
            }
            .icon {
              margin: 0 auto;
              width: 100px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: ease-in-out 0.3s;
              position: relative;

              i {
                z-index: 20;
                font-size: 30px;
              }
              svg {
                position: absolute;
                top: 0;
                left: 0;
                path{
                    &:hover{
                        fill: red;
                    }
                }
              }
             
            }
          }
        }
      }
    }
  }
  #contact {
    .container {
      .contact {
        .location {
            box-shadow: 1px 1px 15px 0px rgb(201, 199, 199);
            border-top: 3px solid #5cb874;
            padding: 20px;
            margin: 19px;
            width: 38%;
            border-bottom: 3px solid #5cb874;
          i {
            font-size: 20px;
            color: #5cb874;
            float: left;
            width: 44px;
            height: 44px;
            background: #eaf6ed;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
          }
          h2{
            padding: 0 0 0 60px;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
            color: #222222;
          }
          p{
            padding: 0 0 10px 60px;
            margin-bottom: 20px;
            font-size: 14px;
            color: #555555;
          }
        }
        .form{
            border-top: 3px solid #5cb874;
            box-shadow: 1px 1px 15px 0px rgb(201, 199, 199);
            margin: 19px;
            width: 56%;
            padding: 20px;
            border-bottom: 3px solid #5cb874;
        }
        #map {
          height: 300px;
          /* The height is 400 pixels */
          width: 100%;
          /* The width is the width of the web page */
        }
      }
    }
  }
}
footer{
    height: 300px;
    background-color: black;
    color: #fff;
    .footer-icons{
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            li{
                padding: 0 10px;
                a{
                    color: #fff;
                    padding: 5px 10px;
                    width: 36px;
                    height: 36px;
                    background-color: #5cb874;
                    border-radius: 50%;
                    font-size: 19px;
                    &:hover{
                        background-color: #448b57;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:750px){
  header{
    #social-icons{
        .container{
            .row{
                .social-icons{
                    display: none;
                }
            }
        }
    }
    #nav{
        .container{
            .row{
                .nav-links{
                    display: none;
                }
                .nav-hamburger{
                    display: block;
                    display: flex;
                    justify-content: end;
                    font-size: 25px;
                }
            }
        }
    }
    
  }
  
}